.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Styles */
.text-primary {
    color: #3B49FF;
}

.btn-primary {
    background-color: #3B49FF;
    font-weight: bold;
    font-size: 10px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;

}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding: 100px 50px;

}

.text-content {
    max-width: 400px;
}

.section-title {
    font-size: 25px;
    font-weight: 500;
    color: black;
    margin-bottom: 10px;

}

.section-description {
    font-size: 12px;
    font-weight: 300;
    color: black;
    margin-bottom: 15px;
}

.btn-second {
    background-color: #3B49FF;
    font-weight: bold;
    font-size: 10px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.banner-profile-pic {
    width: 280px;
    height: 200px;
    display: flex;
    border-radius: 20px;
}

.about2 {
    text-align: center;
    background-color: #d8d2ff;
    border-radius: 10px;
    background-position-x: 19;
    background-position-y: 1249;
}

.about2-items {
    display: flex;
    justify-content:space-around;
    
}

.section2-title {
    font-size: 25px;
    font-weight: 500;
    color: black;
}

.item-description {
    font-size: smaller;
    font-weight: 300;
}

.item-title {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: #3B49FF;
}

.about3 {
    text-align: center;
    padding: 30px;

}

.about3-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 50px;
}

.about3-all {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.about3-card {
    padding: 20px;
    width: 300px;
    text-align: left;

}

.stars {
    color: gold;
    font-size: 18px;
}

.about3-paragraph {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 16px;
}


.reviewer {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.reviewer-name {
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}

.review-date {
  font-size: 12px;
  color: #777;
  margin: 0;
}


/* Header */
.header {
    background-image: url('../Assets/Hero-bg.png');
    background-position: top center;
}

/* Nav Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;

}

.nav-title {
    font-weight: bold;
    font: size 60px;
}


nav ul li {
    list-style: none;
}

/*Banner Styles*/

.banner-title {
    font-weight: bold;
    font-size: 40px;
    text-align: center;

}

.banner-content {
    text-align: center;
}

.s-title{
    font-size: xx-large;
}